#title {
    display: flex;
    justify-content: center;
}

.author {
    text-align: center;
}

#num_incidents_to_date {
    font-size: larger;
}

#sections {
    line-height: 1.8rem;
    padding: 1.6rem 20rem;
}

#num_crime_vs_TOD_bar_chart {
    margin-top: 6rem;
}

/* All data-viz divs should have a small padding-top to separate between initial hypothesis/thoughts
and data viz result. Don't make the report feel 'cluttered'! */
.data_viz {
    padding-top: 5%;
}

.axis path, 
.axis line {
    shape-rendering: crispEdges;
}

.axis text {
    font-size: smaller;
}

#tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

#tooltip.hidden {
    display: none;
}

#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}