#title {
    display: flex;
    justify-content: center;
}

#author {
    text-align: center;
}

#sections {
    line-height: 1.8rem;
    padding: 1.6rem 16rem;
}

#num_crime_vs_TOD_bar_chart {
    margin-top: 6rem;
}

/* All data-viz divs should have a small padding-top to separate between initial hypothesis/thoughts
and data viz result. Don't make the report feel 'cluttered'! */
.data_viz {
    padding-top: 5%;
}