#title {
    display: flex;
    justify-content: center;
}

.author {
    text-align: center;
}

#num_incidents_to_date {
    font-size: larger;
}

/* this padding parameter is sketchy af - horrible layout on phone viewport. */
body>div {
    line-height: 1.8rem;
    padding: 2% 30%;
}

/* each viz section is separated by whitespace for visual hierarchy */
.data-viz-section {
    margin-top: 3rem;
}

figure {
    padding: 4% 20%;
}

ol>li {
    font-size: 24px;
}

/* All data-viz divs should have a small padding-top to separate between initial hypothesis/thoughts
and data viz result. Don't make the report feel 'cluttered'! */
.data_viz {
    padding-top: 5%;
    margin: 0 auto;
}

.axis path,
.axis line {
    shape-rendering: crispEdges;
}

.axis text {
    font-size: smaller;
}

#tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

#tooltip.hidden {
    display: none;
}

#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}